USE [DB_EcommerceAgent]
GO
/****** Object:  StoredProcedure [dbo].[USP_BuscarProducto_db]    Script Date: 26/7/2026 13:19:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROC [dbo].[USP_BuscarProducto_db]
(
	@i_FilterText VARCHAR(100),
	@i_pageNumber INT,
	@o_ResultCode INT = NULL OUTPUT,
	@o_ResultMessage VARCHAR(500) = NULL OUTPUT,
	@o_pageNumber INT = NULL OUTPUT,
	@o_pageSize INT = NULL OUTPUT,
	@o_totalRows INT = NULL OUTPUT
)
AS
BEGIN
	DECLARE @RowsPerPage INT

	SET @RowsPerPage = 10
	SET @i_FilterText = TRIM(@i_FilterText)

	BEGIN TRY
	SELECT
		ProductID,
		ProductName,
		ProductVariableName,
		ProductVariablePrice,
		CurrencyISO,
		CategoryName,
		SubcategoryName,
		SegmentName,
		MarkName,
		ProviderName,
		SUM(StockAvilable) [StockAvilable]
	FROM DB_ECOMMERCE.SQM_GENERAL.VW_GENERAL_PRODUCTS
	WHERE
		ProductID = TRY_CAST(@i_FilterText AS INT) OR
		ProductName LIKE CONCAT('%', @i_FilterText,'%') OR
		ProductVariableName LIKE CONCAT('%', @i_FilterText,'%') OR
		CategoryName LIKE CONCAT('%', @i_FilterText,'%') OR
		CurrencyISO LIKE CONCAT('%', @i_FilterText,'%') OR
		ProductVariablePrice = TRY_CAST(@i_FilterText AS DECIMAL) OR
		SegmentName LIKE CONCAT('%', @i_FilterText,'%') OR
		MarkName LIKE CONCAT('%', @i_FilterText,'%') OR
		ProviderName LIKE CONCAT('%', @i_FilterText,'%')
	GROUP BY
		ProviderID,
		ProductID,
		ProductName,
		ProductVariableName,
		ProductVariablePrice,
		CurrencyISO,
		CategoryName,
		SubcategoryName,
		SegmentName,
		MarkName,
		ProviderName
	ORDER BY ProductID, ProviderID DESC
		OFFSET (@i_pageNumber - 1) * @RowsPerPage ROWS
		FETCH NEXT @RowsPerPage ROWS ONLY

	-- Metadatos de paginación (OUTPUT)
	SELECT 
		@o_pageNumber = @i_pageNumber,
		@o_pageSize = @@ROWCOUNT,
		@o_totalRows = COUNT(1)
	FROM DB_ECOMMERCE.[SQM_GENERAL].[VW_GENERAL_PRODUCTS]
	WHERE
		ProductID = TRY_CAST(@i_FilterText AS INT) OR
		ProductName LIKE CONCAT('%', @i_FilterText,'%') OR
		ProductVariableName LIKE CONCAT('%', @i_FilterText,'%') OR
		CategoryName LIKE CONCAT('%', @i_FilterText,'%') OR
		CurrencyISO LIKE CONCAT('%', @i_FilterText,'%') OR
		ProductVariablePrice = TRY_CAST(@i_FilterText AS DECIMAL) OR
		SegmentName LIKE CONCAT('%', @i_FilterText,'%') OR
		MarkName LIKE CONCAT('%', @i_FilterText,'%') OR
		ProviderName LIKE CONCAT('%', @i_FilterText,'%')
	GROUP BY
		ProviderID,
		ProductID,
		ProductName,
		ProductVariableName,
		ProductVariablePrice,
		CurrencyISO,
		CategoryName,
		SubcategoryName,
		SegmentName,
		MarkName,
		ProviderName

	IF (@o_pageSize > 0)
	BEGIN
		SET @o_ResultCode = 200;
		SET @o_ResultMessage = 'BUSQUEDA DE PRODUCTOS EXITOSA';
	END
	ELSE
	BEGIN
		SET @o_ResultCode = 204;
		SET @o_ResultMessage = 'NO SE ENCONTRARON PRODUCTOS';
	END
	END TRY
	BEGIN CATCH
		SET @o_ResultCode = 500;
		SET @o_ResultMessage = CONCAT_WS(' - ', 'ERROR INTERNO', ERROR_MESSAGE());
	END CATCH
END